<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servlet_1_practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!--   <servlet>
    <description></description>
    <display-name>Practice1</display-name>
    <servlet-name>Practice1</servlet-name>
    <servlet-class>com.bjpowernode.servlet_1_practice.Practice1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practice1</servlet-name>
    <url-pattern>/ab/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>practice</servlet-name>
    <servlet-class>com.bjpowernode.servlet_1_practice.practice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>practice</servlet-name>
    <url-pattern>/practice.do</url-pattern>
  </servlet-mapping> -->
 <!--    <servlet>
    <servlet-name>practice2</servlet-name>
    <servlet-class>com.bjpowernode.servlet_1_practice.practice2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>practice2</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping> -->
    <!-- <servlet>
    <servlet-name>practice_2</servlet-name>
    <servlet-class>com.bjpowernode.servlet_1_practice.Practice_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>practice_2</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <servlet-name>myservlet</servlet-name>
    <servlet-class>com.bjpowernode.servlet_1_practice.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet</servlet-name>
    <url-pattern>/MyServlet.do</url-pattern>
  </servlet-mapping>
 <!--  <servlet>
    <servlet-name>work</servlet-name>
    <servlet-class>com.bjpowernode.homework.HomeWork1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>work</servlet-name>
    <url-pattern>/homework1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>work2</servlet-name>
    <servlet-class>com.bjpowernode.homework.HomeWork2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>work2</servlet-name>
    <url-pattern>/homework2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>1_practice1</servlet-name>
    <servlet-class>com.bjpowernode.servlet_3_practice.Practice1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>1_practice1</servlet-name>
    <url-pattern>/practice1.do</url-pattern>
  </servlet-mapping> -->
  <!-- <servlet>
    <servlet-name>myservlet2</servlet-name>
    <servlet-class>com.bjpowernode.servlet_3_practice.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet2</servlet-name>
    <url-pattern>/myservlet2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myservlet3</servlet-name>
    <servlet-class>com.bjpowernode.servlet_3_practice.MyServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet3</servlet-name>
    <url-pattern>/myservlet3.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>myservlet4</servlet-name>
    <servlet-class>com.bjpowernode.servlet_3_practice.MyServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet4</servlet-name>
    <url-pattern>/myservlet4.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>myservlet5</servlet-name>
    <servlet-class>com.bjpowernode.servlet_3_practice.MyServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet5</servlet-name>
    <url-pattern>/myservlet5.do</url-pattern>
  </servlet-mapping> -->
    <servlet>
    <servlet-name>myservlet6</servlet-name>
    <servlet-class>com.bjpowernode.servlet_3_practice.MyServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet6</servlet-name>
    <url-pattern>/myservlet6.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>myservlet7</servlet-name>
    <servlet-class>com.bjpowernode.servlet_3_practice.MyServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet7</servlet-name>
    <url-pattern>/myservlet7.do</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>encoding</param-name>
  <param-value>sssss</param-value>
  </context-param>
  <servlet>
  <servlet-name>judge</servlet-name>
  <servlet-class>com.bjpowernode.homework.demo2.Judge</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>judge</servlet-name>
  <url-pattern>/judge.do</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>loadin</servlet-name>
  <servlet-class>com.bjpowernode.homework.demo2.Loadin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loadin</servlet-name>
  <url-pattern>/loadin.do</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>register</servlet-name>
  <servlet-class>com.bjpowernode.homework.demo2.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>register</servlet-name>
  <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
      <servlet>
  <servlet-name>delete</servlet-name>
  <servlet-class>com.bjpowernode.homework.demo2.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>delete</servlet-name>
  <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
       <servlet>
  <servlet-name>myservlet4_1</servlet-name>
  <servlet-class>com.bjpowernode.servlet_4_practice.MyServlet4_1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>myservlet4_1</servlet-name>
  <url-pattern>/myservlet4_1.do</url-pattern>
  </servlet-mapping>
         <servlet>
  <servlet-name>myservlet4_2</servlet-name>
  <servlet-class>com.bjpowernode.servlet_4_practice.MyServlet4_2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>myservlet4_2</servlet-name>
  <url-pattern>/myservlet4_2.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>myservlet5_1</servlet-name>
  <servlet-class>com.bjpowernode.servlet_5_practice.MyServlet5_1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>myservlet5_1</servlet-name>
  <url-pattern>/myservlet5_1.do</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>myservlet5_2</servlet-name>
  <servlet-class>com.bjpowernode.servlet_5_practice.MyServlet5_2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>myservlet5_2</servlet-name>
  <url-pattern>/myservlet5_2.do</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>myservlet5_3</servlet-name>
  <servlet-class>com.bjpowernode.servlet_5_practice.MyServlet5_3</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>myservlet5_3</servlet-name>
  <url-pattern>/myservlet5_3.do</url-pattern>
  </servlet-mapping>
</web-app>